.title {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 0;
}
.img {
  width: 100%;
}

.description {
  margin: 1em 0;
  font-size: 1.5rem;
}

.price {
  margin-top: 1em;
  font-size: 1.5rem;
}
.close {
  color: #fff;
  font-size: 1rem;
  background-color: #1f9751;
  width: 15%;
  padding: 1em 1em;
  border: none;
  border-radius: 5px;
}

.close:hover,
.close:active {
  background-color: #146335;
  border-color: #146335;
}